*.aux

*.bbl

*.blg

*.log

*.out

Masterarbeit.tex

Masterarbeit.synctex.gz

Masterarbeit.toc

/TEX/Inhalt/00_Einleitung.aux
/TEX/Inhalt/01_Grundlagen.aux

/TEX/Inhalt/02_Konzeption.aux
/TEX/Inhalt/03_Implementierung.aux
/TEX/Inhalt/04_Ergebnis.aux
/TEX/Inhalt/05_Zusammenfassung.aux

/TEX/Masterarbeit.brf
/TEX/Masterarbeit.idx
/TEX/Masterarbeit.lof
/TEX/Masterarbeit.lol
/TEX/Masterarbeit.lot
/TEX/Masterarbeit.nlo

/TEX/Masterarbeit.pdf

/TEX/Masterarbeit.bcf
/TEX/Masterarbeit.fdb_latexmk
/TEX/Masterarbeit.ilg
/TEX/Masterarbeit.ind

/TEX/Masterarbeit.url

/TEX/Masterarbeit.synctex.gz(busy)

/TEX/Masterarbeit.glo
/TEX/Masterarbeit.ist
